@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: #e5e5e5;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.flex-container {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 68, 185);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(31, 50, 134);
}

.flex-container div div{
    background-color: white;
}

.left-column{
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
}

.right-column{
    flex: 2;
    box-sizing: border-box;
    padding: 10px;
}

#user-pic{
    width: 100%;
    height: 100%;
    margin: 0;
}

#blog-name{
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.welcome-message h1{
    text-align: center;
    width: 100%;
}

.post img{
    display: block;
    width: 100%;
}